[submodule "jdk-langtools"]
	path = jdk-langtools
	url = git@github.com:oliverphil/jdk-langtools.git
[submodule "webcompiler-frontend"]
	path = webcompiler-frontend
	url = git@github.com:oliverphil/WebCompiler-Frontend.git
[submodule "coding-challenges"]
	path = coding-challenges
	url = git@github.com:oliverphil/coding-challenges.git
