<project name="BuildConfig" xmlns:artifact="urn:maven-ant" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation=" ">
    <!-- Load the Maven Ant tasks so that we can work with Maven repositories. -->
    <typedef uri="urn:maven-ant"
             classpath="lib/maven-ant-tasks-2.1.3.jar"
             resource="org/apache/maven/artifact/ant/antlib.xml"/>
    <!-- set pom file and dependencies -->
    <artifact:pom id="mypom" file="pom.xml"/>
    <artifact:dependencies pathId="MAVEN_DEPS" pomRefId="mypom"/>
    <!-- Set the current WhileyLabs version -->
    <property name="version" value="${mypom.version}"/>
</project>